<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ARMulti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ARToolKit complete.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ARToolKit examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ARToolKit extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>ARToolKit libraries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ARToolKit utilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>ARgsub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ARgsubUtil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ARgsub_lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ARvideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ARvrml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Configure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XCode runtime cwd fix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>calib_camera2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>calib_cparam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>calib_dist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>collideTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>exview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>graphicsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>loadMultiple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>mk_patt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>modeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>multiTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>optical.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>paddleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>paddleInteractionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>paddleTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>rangeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>relationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>simpleLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>simpleTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>simpleTest2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>simpleVRML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>twoView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>videoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A3F11430649F7BA0042B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3F1305064A02100042B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3F13F4064A091B0042B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3F1465064A09F80042B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3F149E064A0AAB0042B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3F14A6064A0B070042B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5F9D84064B556E00525EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A6AE876080CD29800149122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A835647074D914100F58781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A835659074D936800F58781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8486680728DD530063B1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8EA585065873E100ADDDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB9FF750651CDE3003B9097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB9FFA10651CE85003B9097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782EA3A408998E3500A8A712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782EA59E0899A56500A8A712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78397506089AB10700D36F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78397531089AB28B00D36F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7839755F089AB36800D36F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78397591089AB47800D36F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78424359089ABBE400142306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78424399089AC00100142306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>784DB792089AA70200389D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>784DB7CA089AAE4100389D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>784DB7FD089AAF5600389D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7872EE5B08E3181200DB266E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7872EF4F08E3187D00DB266E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7872EF6908E318DA00DB266E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7872EF8308E3192C00DB266E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>788A859B089AA558001AB56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>788C8375089AB5B9003E3825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>788C83AE089AB6AE003E3825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A519BA089ABA58005197A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78D2537F089AA0640064B793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78D253C8089AA1D10064B793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78D253F9089AA3150064B793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1F54E918BA4566007F4235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1F550818BA4567007F4235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
